* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #001538 , #2575fc);
    color: white;
}

span {
    flex: 1;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bx:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease, box-shadow 0.3s ease;
}

.carrinho {
    display: flex;
    padding: 8px;
    gap: 20px;
    color: white;
}

section {
    flex: 1;
    padding: 15px 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #395a94, #808080);
}

aside {
    min-width: 260px;
    padding: 15px 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #001538, #808080);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px 10px;
    color: white;
    text-transform: uppercase;
}

td {
    padding: 20px 10px;
    border-top: 3px solid #999999;
}

.x_circle {
    border-radius: 100%;
    background-color: #8b8787;
}

.bx {
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.pimagem img {
    width: 90px;
    border-radius: 7px;
}

.produto {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}