* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #001538, #2575fc);
    color: white;
}

span {
    flex: 1;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bx:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.566);
    transition: 0.3s ease, box-shadow 0.3s ease;
}

.carrinho {
    display: flex;
    padding: 8px;
    gap: 20px;
    color: white;
}

section {
    flex: 1;
    padding: 15px 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #001538, #2575fc);
}

aside {
    min-width: 260px;
    padding: 15px 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #001538, #2575fc);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px 10px;
    color: white;
    text-transform: uppercase;
}

td {
    padding: 20px 10px;
    border-top: 3px solid #999999;
}

.x_circle {
    border-radius: 100%;
    background-color: #8b8787;
}

.bx {
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.pimagem img {
    width: 90px;
    border-radius: 7px;
}

.produto {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#comprar {
  background-color: #2575fc;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

#comprar:hover {
  background-color: #1a5fd6;
}


.qnt {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qnt button {
  background-color: #2575fc;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.qnt button:hover {
  background-color: #1a5fd6;
}

.x_circle {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4c4c;
  font-size: 20px;
}
