* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #001538 , #2575fc,  #001538);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgba(0, 0, 0, 0.459);
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin: 15px;
    font-size: 1em;
    color: #444;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px white;
    color: #ffffff;
    background-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #2575fc;
    box-shadow: 0 0 12px #2575fc;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px white;
}

input[type="submit"]:hover {
    background-color: #1a5ad2;
}

label {
    color: white;
}