*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 2%;
    align-items: center;
    height: 100%;
}

header {
    padding: 20px;
    height: 100px;
    background: linear-gradient(to right, #001538 , #2575fc,  #001538);
    margin: 0px;
    padding: 0px;
}

header img{
    border-radius: 10px;
}

.logo{
    width: 50%;
    align-items: center;
}

.menu{
    width: 50%;
    text-align: right;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.inicio {
    text-align: center;
    margin-top: 60 px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50 px;
}

.banner{
    width: calc(100%-30px);
    height: 350px;
    background-color: transparent;
    margin: 15px;
    border-radius: 10px;
    background-image: url("imagens/promoção.png");
    background-size: cover;
    background-position: center;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom right, #669bf8 , #002c79);
    margin-top: 60px;
    height: 650px;
}

.item {
    background: linear-gradient(to bottom right, #001538 , #2575fc);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 300px;
    align-content: center;
    text-align: center;
    color: white;
    box-shadow: 4px 4px 12px #aaa;
}

.item img {
    width: 100px;
    height: 100Px;
    border-radius: 10px;
    margin-top: 5px;
    align-items: center;
}  

.item button {
    background-color: #ffffff;
    color: white;
    border:#000000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: #001538;
}